body {
  background: #4b4c3e;

  // .outside{
  //   width: 100%;
  // }

  .Mportfolio_container {
    //border: 1px solid red;
    width: 100%;
    height: 100%;
    //margin: 0 auto;

    .Mrow1 {
      //margin: 1rem 1rem;
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      div {
        max-width: 100%;

        img {
          max-width: 90%;
          margin-left: 0.7rem;
        } //img
      } //div

      div a {
        display: block;
        text-align: center;
        font-size: 1.5rem;
        color: #fc0;
        font-weight: bold;
        text-decoration: none;
        outline: none;
      } //div a

      .Mdescription {
        color: whitesmoke;
      }
    } //row1

    .Mrowx {
      //margin: 1rem 1rem;
      display: none;
      justify-content: space-around;

      div {
        max-width: 100%;

        img {
          max-width: 90%;
          margin-left: 0.7rem;
        } //img
      } //div

      div a {
        display: block;
        text-align: center;
        font-size: 1.5rem;
        color: #fc0;
        font-weight: bold;
        text-decoration: none;
        outline: none;
      } //div a

      .Mdescription {
        color: whitesmoke;
      }
    } //rowx
  } //portflio_containr
}
