body {
  background: #4b4c3e;

  .outside{
    width: 100%;
  }
  .about_container {
    // border: 1px solid blue;
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;

    iframe{
      // border: 1px solid red;
      
    }
  } //about_container
}
