body {
  background: #4b4c3e;

  .outside{
    width: 100%;
  }

  .home_container {
    .top_panel {
      //border: 2px solid blue;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      margin: 1rem 1rem;
      height: 45%;
      padding: 1rem;

      #api {
        //border: 1px solid green;
        width: 30%;
        padding: 1rem;

        img {
          //border: 2px solid blue;
          margin-left: 4rem;
        }

        a {
          display: block;
          text-align: center;
          font-size: 1.5rem;
          color: #fc0;
          font-weight: bold;
          text-decoration: none;
          outline: none;
        } //a
      } //api

      #custom_app {
        //border: 1px solid green;
        width: 30%;
        padding: 1rem;

        img {
          //border: 2px solid blue;
          margin-left: 7.5rem;
        }

        a {
          display: block;
          text-align: center;
          font-size: 1.5rem;
          color: #fc0;
          font-weight: bold;
          text-decoration: none;
          outline: none;
        } //a
      } //custom_app

      #signlingo {
        //border: 1px solid green;
        width: 30%;
        padding: 1rem;

        img {
          //border: 2px solid blue;
          margin-left: 4rem;
        }

        a {
          display: block;
          text-align: center;
          font-size: 1.5rem;
          color: #fc0;
          font-weight: bold;
          text-decoration: none;
          outline: none;
        } //a
      }
    } //top_panel

    .bottom_panel {
      //border: 2px solid red;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      margin: 2rem 1rem;
      height: 45%;
      max-width: 100%;
      padding: 1rem;

      #blog {
        //border: 1px solid green;
        width: 30%;
        color: whitesmoke;

        a {
          text-decoration: none;
          color: whitesmoke;

          &:hover {
            color: #fc0;
          } //hover
        } //a

        details {
          ul {
            list-style-type: none;
          }

          li{
              margin-top: 1rem;
          }
        } //details ul

        details ul li {
          a {
            text-decoration: none;
            color: whitesmoke;

            &:hover {
              color: #fc0;
            } //hover
          } //a
        } //details ul li
      } //blog

      #services {
        // border: 1px solid green;
        width: 40%;
        color: whitesmoke;

        ul {
          list-style-type: none;
          padding-left: 0px;
        } //ul

        li{
            margin-top: 1rem;
            img{
              max-width: 100%;
            }
        }
      } //services

      #about {
        //border: 3px solid green;
        width: 30%;

        h3 {
          text-align: center;
          color: whitesmoke;
        }
        .imgbox {
          width: 60%;
          margin: 0 auto;
          padding: 1rem;

          img {
            max-width: 100%;
            max-height: 50%;
            border-radius: 50%;
          } //img
        } //imgbox

        ul {
          list-style-type: none;
        } //ul

        li{
            margin-top: 1rem;
        }

        a {
          color: whitesmoke;
          text-decoration: none;
        }

        #Link {
          color: whitesmoke;
          text-decoration: none;
        }
      } //about
    } //bottom_panel
  } //home_container
}
