body {
  background: #4b4c3e;

  // .outside{
  //   width: 100%;
  // }

  .Mcontact_container {
    width: 90%;
    //margin: 0 auto;
    .Mform_section {
      //border: 2px solid red;

      .Mcontact_form {
        //border: 1px solid yellow;
        max-width: 95%;
        //margin: 0 auto;
        margin-top: 1rem;
        margin-bottom: 1rem;
        display: flex;
        flex-direction: column;

        #Mname {
          //border: 1px solid blue;
          width: 100%;
          //margin: 0 auto;

          input {
            //border: 2px solid green;
            font-size: 1.2rem;
            margin-bottom: 1rem;
            margin-left: 1rem;
            max-width: 100%;
          }
        } //name

        .Minfo {
          //border: 1px solid blue;
          max-width: 100%;
          //margin: 0 auto;

          input {
            //border: 2px solid green;
            font-size: 1.2rem;
            margin-bottom: 1rem;
            max-width: 100%;
            margin-left: 1rem;
          }
        } //info

        .Msubject {
          //border: 1px solid blue;
          width: 100%;
          //margin: 0 auto;

          #Msubj {
            //border: 2px solid green;
            font-size: 1.2rem;
            margin-left: 1rem;
            max-width: 100%;
          } //subj
        } //subject

        .Mmessage {
          //border: 1px solid blue;
          max-width: 100%;
          //margin: 0 auto;
          margin-top: 1rem;
          margin-bottom: 1rem;

          textarea {
            max-width: 100%;
            margin-left: 1rem;
          } //textarea
        } //message

        .Mbtns {
          border: 1px solid red;
          display: flex;
          justify-content: space-evenly;
          margin-bottom: 1rem;
          max-width: 100%;
          margin-left: 2rem;

          input {
            font-size: 1rem;
            border-radius: 1rem;
            background-color: crimson;
            color: whitesmoke;

            &:hover {
              background-color: blue;
              color: #fc0;
            }
          }
        } //btns
      } //contact_form
    } //form_section
  } //contact_container
}
