body{
    background: #4b4c3e;
}
.container{
    border: 2px solid red;
    width: 80%;
    height: 100vh;
    margin: 0 auto;

    header{
        border: 2px solid green;
        width: 95%;
        height: 8vh;
        margin: 0 auto;
    }//header

    .Display-Area{
        border: 2px solid yellow;
        width: 95%;
        margin: 0 auto;
        margin-bottom: 1rem;
    }//Display-Area

    .bottom{
        border: 1px solid purple;
        position: fixed;
        bottom: 0;
        width: 78.5%;
        padding: 0.5rem;

        footer{
            border: 1px solid green;
            color: whitesmoke;
            font-size: 1.4rem;
            text-align: center;
        }//footer
    }//bottom

}//container

.navigation{
    display: flex;
    flex-direction: row;
    &:first-child{
        margin-left: 3rem;
    }//first-child

    .link{
        margin: 0 auto;
        text-decoration: none;
        margin-top: 1rem;
        margin-left: 2rem;
        color: whitesmoke;
        
        &:hover{
            color:#FC0;
        }//hover
    }//link
}//navigation

